<div>
  <div style="margin: auto">
    <h1>Time now is {{ time$ | async }} </h1>
  </div>
</div>
<div>
  <div style="float:left; width: 25%; padding: 2%; margin: 0 2%; background-color: lightgreen  ;">
    <app-tool-one></app-tool-one>
  </div>
  <div style="float:left; width: 25%; padding: 2%; margin: 0 2%; background-color: lightcoral;">
    <app-tool-two></app-tool-two>
  </div>
  <div style="float:left; width: 25%; padding: 2%; margin: 0 2%; background-color: lightblue;">
    <app-tool-three></app-tool-three>
  </div>
</div>